<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fantom</title>
    </head>
    <body>
        <img src="data:image/png;base64,{{ data }}" width="1600" height="900">
        <input type="button" onclick="window.location.href='../fantom_graph/';" value="FTM">
        <input type="button" onclick="window.location.href='../atari_graph/';" value="ATRI">
        <input type="button" onclick="window.location.href='../tarot_graph/';" value="TAROT">
    </body>
</html>